<ion-header class="ion-no-border">
  <ion-toolbar class="toolbarppl">   
    <ion-buttons slot="start">
      <ion-back-button style="color: #39B1C0;"                       
                    defaultHref="/">
      </ion-back-button> 
    </ion-buttons>
    <ion-title style="font-size: unset;">
      {{ titulo }}
    </ion-title> 
    <ion-buttons slot="end">
      <ion-menu-button menu="first"
                       style="color: #39B1C0;">
      </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header> 