ion-content{
    --background:#dfe6ee;
}

ion-toggle { 
    --background: #575756;
    --background-checked: #4273c7;
    
    --handle-background: rgb(123, 123, 116);
    --handle-background-checked: #1F4D9A;
  }

.toolbarppl{
    --background:#dfe6ee;
    color: #1F4D9A;
}

.subtitle{
    color:#575756;
}