.toolbarppl{
    --background:#dfe6ee;
    color: #1F4D9A;
}

ion-content{
    --background:#dfe6ee;
}

.itemform {
    font-size: 1em;
    color: #575756;
    border: 1px solid #575756;
    background: #fff;
    border-radius: 3px !important;
    margin-top: 5%;
}

.btnformppl{
    --background: #1F4D9A;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 60%;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

.txt_forget{
    color:#575756;
    font-size: 0.8em;
}