.toolbarppl{
    --background:#dfe6ee;
}

.fondoppal{
    --background:#dfe6ee;
}

.color_play_icon{
    color:#39B1C0;
    width: 25px;
    height: 30px;
}

.title_card{
    text-align: center;
}