<ion-header class="ion-no-border">
    <ion-toolbar class="toolbarppl">
      
      <ion-buttons slot="start">
        <ion-back-button style="color: #39B1C0;"
                         defaultHref="/">
        </ion-back-button>
      </ion-buttons>
  
      <ion-title style="font-size: unset; text-align: center; margin-right: 10%;">
        MÁS INFORMACIÓN
      </ion-title> 
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
<p>
  Desde nuestra web <b class="colorText">destinoarte.com,</b> podrás comprar itinerarios de la ciudad que quieras
  visitar o monumentos sueltos organizando tú mismo el recorrido.
</p>
<p>
  Una vez que compres un itinerario o un monumento recibirás un e-mail con los datos de tu compra y el enlace de nuestra 
  App, para que puedas acceder a las audioguías adquiridas en tu dispositivo móvil. Aclraramos que las audioguías sólo 
  podrán ser escuchadas a través de nuestra App. A medida que vayas comprando nuestras distintas audioguías siempre las
  tendrás a tu disposición.
</p>
<p>
  Con nuestra App de <b class="colorText">Destino Arte</b> podrás viajar a la ciudad que elijas a tu ritmo y sin
  perderte nada, tendrás el contenido necesario de cada uno de los monumentos y museos que vayas a visitar.
</p>  
<p>
  Adquiriendo un itinerario dispondrás de un plano de la ciudad con el recorrido para que puedas situarte, además incluimos
  la planta de cada uno de los monumentos e infografías detalladas para seguir con facilidad la explicación de la audioguía.
</p>
<p>
  Puedes ver como funciona nuestra aplicación registrándote aquí o en nuestra web <b class="colorText">destinoarte.com.</b>
  Con el registro, tendrás <b class="colorText">cuatro audioguías gratuitas</b> para que puedas comprobar como funciona
  nuestra App y escuches alguna de nuestra audioguías.
</p>
</ion-content>
