<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon src="/assets/img/menu_inf/inicio.svg"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon src="/assets/img/menu_inf/buscar.svg"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-destinos">
      <ion-icon src="/assets/img/menu_inf/mis_destinos.svg"></ion-icon>
      <ion-label>Mis destinos</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="productBuy()" tab="comprar">
      <ion-icon src="/assets/img/menu_inf/comprar.svg"></ion-icon>
      <ion-label>Comprar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>