ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }

.contenu{
    position : absolute; 
    top: -15px;
    left : 0;
    height: 65vh;
    width: 100vw;
}

.img_shadow{
    height: 19em; 
    width: 100%; 
    box-shadow: 0 28px 17px -26px black;
}

.toolbarppl{
    --background:#dfe6ee;
    color: #1F4D9A;
}

.title_color{
    color: #1F4D9A;
}

.range_reproductor{
    color: #1F4D9A; 
    --pin-color:#1F4D9A; 
    --bar-background:#39B1C0;
    margin-top: -2em;
}

.btnAceptar{
    --background: #1F4D9A;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 60%;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

.title_audio{
    font-size: 0.9em;
}


.heightreproductor{
   height: 380px;
   --background:#dfe6ee;
    background-color: #dfe6ee;
}

.fondoppal{
    --background:#dfe6ee;
    background-color: #dfe6ee;
}

.color_play_icon{
    color:#1F4D9A;
}

.color_icon{
    color:#39B1C0;
}

ion-select::part(text){
    font-size:2em;
}

