<ion-content class="ion-padding">
  <ion-img class="imgTam" src="assets/img/logo.png"></ion-img>
  <ion-text class="txtColorBlue">
    <p>Visita la ciudad que eligas a tu ritmo y sin perderte nada</p>
  </ion-text>
  <ion-button 
            routerLink="/inicio-sesion"
            class="btnformppl" 
            expand="block" 
            shape="round">
    INICIAR SESIÓN
  </ion-button>
  <ion-button 
            routerLink="/mas-info"
            class="btnformsec"
            expand="block"
            shape="round">
    MÁS INFO
  </ion-button>

</ion-content>
