ion-content{
    --background:#dfe6ee;
}

ion-searchbar{
    background-color: #dfe6ee;
}

ion-list{
    background-color: #dfe6ee;
    color: #1F4D9A;
}

.toolbarppl{
    --background:#dfe6ee;
    color: #1F4D9A;
}

.fondoitem{
  --background:#dfe6ee;
}

.btnGris{
    --background:#575756;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 60%;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

.btnAzul{
    --background:#1F4D9A;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 60%;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}


.title_card{
    font-size: 0.9em;
    text-align: center;
}

.content_card{
    color:#575756;
}

.text_aviso h3{
    font-size: 0.7em;
    text-align: center;
    color:#575756;
}